In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset_2019_2022.csv')

In [3]:
df.head(10)

,customer_id,product_id,basket_id,loyalty,household_type,age_band,department,brand,commodity,store,price,transaction_date
0,15803,1131974,57266,Loyalist,1 adult with kids,19-24,Grocery,private,Baked bread/buns/rolls,374,0.99,5/10/2020 0:00
1,15803,1051516,57266,Loyalist,1 adult with kids,19-24,Produce,national,Vegetables - all others,374,0.70,24/10/2020 0:00
2,15803,967254,57266,Loyalist,1 adult with kids,19-24,Pharmaceutical,national,Cold and flu,374,1.68,18/10/2020 0:00
3,15803,1134222,57266,Loyalist,1 adult with kids,19-24,Grocery,private,Paper housewares,374,2.59,23/10/2020 0:00
4,15803,1003421,57266,Loyalist,1 adult with kids,19-24,Grocery,national,Soup,374,0.60,27/10/2020 0:00
5,15803,937791,57266,Loyalist,1 adult with kids,19-24,Grocery,national,Frozen pizza,374,2.25,28/10/2020 0:00
6,15803,1082185,57266,Loyalist,1 adult with kids,19-24,Produce,national,Tropical fruit,374,1.07,12/10/2020 0:00
7,15803,940947,57266,Loyalist,1 adult with kids,19-24,Meat,national,Heat/serve,374,5.00,2/10/2020 0:00
8,15803,1056010,57266,Loyalist,1 adult with kids,19-24,Nutrition,national,Prepared food,374,3.00,17/10/2020 0:00
9,15803,845307,57266,Loyalist,1 adult with kids,19-24,Deli,national,Deli meats,374,3.17,24/10/2020 0:00

In [4]:
np.unique(df["loyalty"])

array(['First Time Buyer', 'Loyalist', 'Promiscuous'], dtype=object)

In [5]:
np.unique(df["household_type"])

array(['1 adult with kids', '2 adults with kids', '2 adults with no kids',
       'Single female', 'Single male'], dtype=object)

In [6]:
np.unique(df["age_band"])

array(['19-24', '25-34', '35-44', '45-54', '55-64', 'Greater than 65'],
      dtype=object)

In [7]:
np.unique(df["department"])

array(['Cosmetics', 'Deli', 'Floral', 'Grocery', 'Meat', 'Nutrition',
       'Pastry', 'Pharmaceutical', 'Produce', 'Salad Bar', 'Seafood'],
      dtype=object)

In [8]:
df.dtypes

customer_id           int64
product_id            int64
basket_id             int64
loyalty              object
household_type       object
age_band             object
department           object
brand                object
commodity            object
store                 int64
price               float64
transaction_date     object
dtype: object

In [9]:
len(df)

77750

In [10]:
duplicates = df.duplicated()

In [11]:
new_df=df.drop_duplicates()

In [12]:
new_df.head(10)

,customer_id,product_id,basket_id,loyalty,household_type,age_band,department,brand,commodity,store,price,transaction_date
0,15803,1131974,57266,Loyalist,1 adult with kids,19-24,Grocery,private,Baked bread/buns/rolls,374,0.99,5/10/2020 0:00
1,15803,1051516,57266,Loyalist,1 adult with kids,19-24,Produce,national,Vegetables - all others,374,0.70,24/10/2020 0:00
2,15803,967254,57266,Loyalist,1 adult with kids,19-24,Pharmaceutical,national,Cold and flu,374,1.68,18/10/2020 0:00
3,15803,1134222,57266,Loyalist,1 adult with kids,19-24,Grocery,private,Paper housewares,374,2.59,23/10/2020 0:00
4,15803,1003421,57266,Loyalist,1 adult with kids,19-24,Grocery,national,Soup,374,0.60,27/10/2020 0:00
5,15803,937791,57266,Loyalist,1 adult with kids,19-24,Grocery,national,Frozen pizza,374,2.25,28/10/2020 0:00
6,15803,1082185,57266,Loyalist,1 adult with kids,19-24,Produce,national,Tropical fruit,374,1.07,12/10/2020 0:00
7,15803,940947,57266,Loyalist,1 adult with kids,19-24,Meat,national,Heat/serve,374,5.00,2/10/2020 0:00
8,15803,1056010,57266,Loyalist,1 adult with kids,19-24,Nutrition,national,Prepared food,374,3.00,17/10/2020 0:00
9,15803,845307,57266,Loyalist,1 adult with kids,19-24,Deli,national,Deli meats,374,3.17,24/10/2020 0:00

In [13]:
len(new_df)

77691

In [14]:
new_df.to_csv('dataset_2019_2022_new.csv', index=False)